
 .App-header {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.app-logo{
  font-size: 20px;
  height: 50px;
  /* width: 20px; */
}

.secondry-text{
  color: #919194;

}

.logo-text{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 15px;
  color: #777777;
}
label{
  color: #192451;
  font-weight: bold;
}

.icorrection{
  color: #919194;
  font-size: 5px;
}

.form-group{
  display: flex;
  flex-direction: column;
}
input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
  background-color: #F6F8F9;
  box-shadow: none;
  width: 398px;
  top: 525px;
  
}

.btn-submit{
  top: 581px;
  left: 86px;
  width: 248px;
  height: 44px;
  background: #192451 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #39494C59;
  border-radius: 4px;
  opacity: 1;
  color: #F6F8F9;
}

.group-image{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



